<div class="wallpaper">
    <div class="overlay">
        <div class="test">
            <div class="navbar">
                <div class="welcome">
                    <h2>Welcome Student!</h2>
                </div>
                <div class="buttons">
                    <button >View all courses</button>
                    <button >Course enrollment requests</button>
                    <button >Notifications</button>
                    <button >Review and rating</button>
                    <button >Nearby test centers</button>
                    <button >Register an exam</button>
                    <button >View exam grades</button>
                </div>
            </div>
        </div>


        <div class="container">

            <!-- View all courses -->
            

            <!-- Course enrollment requests -->


            <!-- Notifications -->


            <!-- Review and rating -->

            
            <!-- Nearby test centers -->


            <!-- Register an exam -->


            <!-- View exam grades -->
            
            

        </div>


    </div>
</div>